
__pycache__/
*.py[cod]


.ipynb_checkpoints/


venv/
.venv/
.venv312/


data/raw/*
!data/raw/.gitkeep


data_face/
data_regions_all/


*.pth
*.pt
models/*.h5


checkpoints/
runs/
logs/


.DS_Store
*.swp
*.swo

/content/